
  
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

canvas{
  
  background-color: black;

}
  
/*#player{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(/millennium-falcon.png);
  bottom: 0px;
  left: 130px;
}

.bullets{
  position: absolute;
  width: 25px;
  height: 30px;
  background-image: url(rocket-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.comets{
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(asteroid.png);
  background-size: cover;
  background-repeat: no-repeat;
}*/

.controller{
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
  
}

#right-btn, #left-btn{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: 15px;
  padding: 3%;
  border-radius: 50%;
  border: 1px solid black;
  color: blueviolet;
}
/*
#fire-btn{
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: 15px;
  padding: 3%;
  border: 1px solid black;
  color: blueviolet;
}*/